.first-para{
    font-size: 30px;
    font-style: italic;
}
.card{
    height: 400px;
    width: 350px;
     /* border: 3px solid green; */
     border-top: 3px solid rgb(47, 57, 255);
     border-right: 3px solid black;
     border-bottom: 3px solid rgb(0, 76, 255);
     border-left: 3px solid black;
     border-radius: 34px;
     text-align: center;
}
.card-body{
    text-align: center;
}
img{
    
    border-radius: 30px;
    width: 350px;
}